
/* designers-page */
#designers-page .item{background-image: url(../images/sub-main3.png);}

#designers-page .container{padding: 100px 0 10px; box-sizing: border-box;}
#designers-page .container:last-child{padding-bottom: 100px;box-sizing: border-box;}
#designers-page .contents{width: 100%; height: 100%;}
#designers-page .contents .line{
    width: 100%; height: 1px;
    background-color: #00000033;
    margin-top: 10px;
}

#designers-page .des-group .des{
    font-size: 12px;
    color: #4f4f4f;
    margin-top: 30px;
}

#designers-page .des-group .des4{margin-right: 0;}


#designers-page .image{height: 300px;}
#designers-page .image img{width: 100%; object-fit: cover; object-position: top;}
#designers-page .mainImg{width: 100%; height: 100%;}
#designers-page .sub-img{
    position: absolute; top: 0; left: 0;
    width: 100%; height: 100%;
    opacity: 0;
    transition: 0.5s;
}

#designers-page .des-group .des .name{
    margin-top: 20px;
    display: block;
    font-weight: bold;
    font-size: 14px;
}
#designers-page .des-group .des span{}
#designers-page .des-group .des .line{    
    /* width: 90%; */
    margin: 20px auto;
    background-color: rgba(0, 0, 0, 0.1);
}

#designers-page .des-group .des:hover .sub-img{opacity: 1; transition: 0.5s;}
#designers-page .des-group .des:hover .mainImg{opacity: 0; transition: 0.5s;}