/* 상단 이미지 */
.page-title{
    background-image: url(../images/store-top-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

/*타이틀*/
.section-title{text-align: center;}

/*검색창*/
.search-form{position: absolute; top: 5px; right: 0;}
.search-form input{background-color: #e7e7e7;border-radius: 5px; padding: 10px 5px; box-sizing: border-box;}

@media (max-width:991px){
    .search-form{position: relative;}
}

/* 매장리스트 표*/
.store-table{}

table{
    margin: 50px auto;
    width: 90%;
}

table, td{
    border-collapse: collapse;
    /* height: 50px; */
    font-size: 15px; text-align: center;
    cursor: pointer;
    color: black;
}
td{
    padding: 20px !important;
}
th{
    text-align: center; font-size: 16px;
    height: 40px;
}
tr:first-child th{color: #28272d;}
tr{
    border-top:1px solid black; 
    border-bottom:1px solid black; 
    font-weight: 300;
}


/*인디케이터*/
.pagination{display:flex;justify-content: center;}
.pagination li{
    display:flex;justify-content: center; align-items: center;
}
.pagination li>a{color: #28272d;}