*{position: relative; padding: 0; margin: 0; box-sizing: border-box;}
ol,ul,li{list-style: none;}
img{display: block; width: 100%; height: 100%;}
a{text-decoration: none;}
body{overflow-x: hidden; overflow-y: auto;}

/* 공통 속성*/

.title-group{text-align: center;}
.title-group .main-title{
    margin-right: 10px;
    font-size: 18px;
    color: #4f4f4f;
    font-family: 'Poppins', sans-serif;
}
.title-group .sub-title{
    font-size: 14px;
    color: #7c7c7c;
}
.container{
    max-width: 1200px;
    width: calc(100% - 20px);
    margin: 0 auto;
}
.container .line{
    width: 100%; height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-top: 10px; margin-bottom: 10px;
}
.image-group{
    max-width: 1200px;
    width: calc(100% - 20px);
    margin: 0 auto;
}
 #designer, #visoft, #media, #products, #awards, #about, #footer{
    padding: 50px 0;
}


#header{
    max-width: 1700px;
    width: 90%; height: 100px;
    margin: 0 auto;
    z-index: 10;
    padding: 30px 0;
    display: flex; justify-content: space-between;
    align-items: center;
    font-size: 13px;
    color: #212121;
}

/*햄버거버튼*/
#header .ham-btn{width: 50px; height: 50px; display:none;}
#header .ham-btn .bar{
    display:block;
    position: absolute;
    top: 30px; left: 0;
    width: 22px; height: 2px;
    background-color: black;
}
#header .ham-btn .bar1{transform: translate(0,-5px);}
#header .ham-btn .bar3{transform: translate(0,5px);}

/* 로고 */
#header .logo{width: 200px;}

/* 메뉴 */
#header .menu-group{
    text-transform: uppercase;
    font-family: 'Work Sans', sans-serif;
}
#header .menu-group .point::before{
    content: '';
    position: absolute; 
    bottom: 15px; left: 50%;
    width: 3px; height: 3px;
    border-radius: 50%;
    background-color: black;

}
#header .menu-group .menu{float: left;}
#header .menu-group .menu>ul{}
#header .menu-group .menu>ul>li{float: left;}
#header .menu-group .menu li .mainnav{
    display: block;
    width: 100px; height: 80px;
    color: #212121; font-size: 13px;
    font-family: 'Work Sans', sans-serif;
    line-height: 100px; text-align: center;
}
#header .menu-group .menu li:hover .mainnav{}

#header .menu-group .menu .subnav{
    display: none;
    position: absolute;
    top: 80px;
    background-color: #787878;
}
#header .menu-group .menu .subnav li{}
#header .menu-group .menu .subnav a{
    display: block;
    width: 130px;
    color: white; font-size: 12px;
    text-align: start;
    padding-left: 20px;
    line-height: 30px;
}
#header .menu-group .menu .subnav a:hover{
    background-color: white; color: #787878;
}

/*화면 조금 줄었을때 ... 모양 보이게*/
#header .menu-group .menu>i{
    margin-right: 10px;
}
#header .menu-group .lang-group{
    float: left; display: flex;
    top: 44px;
}
#header .menu-group .lang-group .lang{margin-left: 8px; top: -2px;}
#header .menu-group .lang-group .fa-sort-down{
   top: -3px;
}
#header .lang-group .fa-ellipsis-h{
    display: none; 
    
}

/* 로그인, 회원가입 */
#header .sign{
    display: flex;
    margin-right: 20px;
    top: 11px;
}
#header .sign span{
    display: block;font-family: 'Work Sans', sans-serif;
}
#header .sign .line{
    width: 1px; height: 10px;
    background-color: #666;
    transform: skew(-35deg);
    margin: 3px 10px;
}

/*모바일 메뉴*/
.mobile{display: none;}
.mobile .mob-m{text-align: center; border: 1px solid rgba(0, 0, 0, 0.2); padding: 10px 0;}
.mobile .point::before{
    content: '';
    position: absolute; 
    bottom: 50%; left: calc(100% + 10px);
    width: 3px; height: 3px;
    border-radius: 50%;
    background-color: black;

}
.mobile .mob-m>a{color: #212121; font-size: 16px;font-family: 'Work Sans', sans-serif;}


/*미디어쿼리*/
@media (min-width:1000px){
    .mobile{display: none;}
}
@media (max-width:1200px){
    #header .menu>ul>li:nth-child(5){display: none;}
    #header .menu>ul>li:nth-child(6){display: none;}
    #header .lang-group .fa-ellipsis-h{display: block;margin-right: 20px;}

}
@media (max-width:1000px){
    #header .logo{margin: 0 auto;}
    #header .menu-group, #header .sign{display: none;}  
    #header .ham-btn{display:block;}  
    .mobile{display: grid; grid-template-columns: repeat(2, 1fr);}
}
/* //header */

/*footer*/
#footer{
    background-color: #000000;
    color: #ffffff;
    font-size: 12px;
    padding: 30px 0;
    font-weight: 300;
}
#footer .footWrap{
    max-width: 1200px;
    width: calc(100% - 20px);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
#footer .footWrap .foot-custom{
    line-height: 30px;
    width: 50%;
    order: 1;
}
#footer .footWrap .foot-custom .copy{
    font-size: 11px;
    color: #a38f84;
}

#footer .footWrap .foot-nav{
    line-height: 30px;
    /* margin-right: 100px; */
    order: 2;
    width: 25%;
}
#footer .footWrap .foot-nav>p>a{
    color: #ffffff;
    font-weight: 300;
}

#footer .footWrap .foot-sns{
    width: 25%;
    font-size: 20px;
    /* padding: 0 12px; */
    box-sizing: border-box;
    order: 3;
    text-align: end;
}
#footer .footWrap .foot-sns i{
    letter-spacing: 1px;
    margin-left: 20px;
}


@media (max-width:1000px){
    #footer .footWrap{display: block;}
    #footer .footWrap .foot-custom{margin-top: 30px; width: 100%;}
    #footer .foot-app{display: block; margin-top: 30px;}
    #footer .footWrap .foot-sns{margin-top: 30px;text-align: start; width: 100%;}
    #footer .footWrap .foot-sns i:first-child{margin-left: 0;}
}